#ifndef SECRETS_H
#define SECRETS_H

namespace Secrets{
    const static char * ssid = "ssid";
    const static char * pass = "password";

    const static char * mqtt_host = "localhost";
    const static int mqtt_port    = 1883;
}


#endif